*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(221, 210, 210);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    color:black;
}
.section{
    margin: 10px 30px;
    border-radius: 12px;
    padding: 10px 18px;
    width: 550px;
    height: 80px;
    background-color: #04053b;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section h1{
    color: whitesmoke;
    font-size: 48px;
    font-weight: 700;
}
.container{
    margin: 30px;
    width: 400px;
    height: 400px;
    background-color: whitesmoke;
    flex-direction: column;
    display: flex;
    align-content: stretch;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    justify-content: stretch;
}
.column{
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
}
.row{
    flex: 1;
}
.buttons{
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
}
.btn{
    margin: 4px;
    padding: 7px;
    background-color: #e5e5ee;
    color: #04053b;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    gap: 10px;
    flex: 1;
    border: none;
    font-weight: bold;
    transform: transform 0.2s ease-in-out;
}
.btn:hover{
    background-color: #04053b;
    color: aliceblue;
    transform: scale(1.05);
}
#red{
    order: 1;
    background-color: #c50707;
    color: aliceblue;
    transform: transform 0.2s ease-in-out;
}
#red:hover{
    transform: scale(1.05);
}
#black{
    order: 2;
    background-color: #010225;
    color: aliceblue;
    transform: transform 0.2s ease-in-out;
}
#black:hover{
    transform: scale(1.05);
}
#blue{
    order: 3;
    background-color: #020475;
    color: aliceblue;
    transform: transform 0.2s ease-in-out;
}
#blue:hover{
    transform: scale(1.05);
}
#reset{
    order: 4;
}

